body {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* .logo { */
/* text-align: center; */
/* display: flex; */
/* align-content: center; */
/* justify-content: center; */
/* } */
/* ALIGN CONTENT NONO  NO ----->ALIGN ITEMS */
/* todo mal aca tire para testearjm con divs con clase logo y */
/* termino siendo lo de arriba */

header {
  /* margin: 0 0 0 70px; */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  font-size: 24px;
}

.top {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  background-color: #1f2937;
}

nav {
  color: #e5e7eb;
  font-size: 18px;
  /* margin: 0 70px 0 0; */
}

.nav-derecha {
  display: flex;
  gap: 8px;
}

.presentation {
  flex: 1;
  margin: 0;
  padding: 25px;
  display: flex;
  height: 50px;
  background-color: #1f2937;
  justify-items: center;
  align-items: center;

  display: flex;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.frase-cringe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px;
  background-color: #e5e7eb;
  font-size: 36px;
  /* font-weight: bold; */
  font-style: italic;
  color: #1f2937;
  flex: 1;
}

footer {
  background-color: #1f2937;
  text-align: center;
  padding: 15px;
  color: #e5e7eb;
}

.prefooter-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.rounded-part {
  display: flex;
  color: #e5e7eb;
  background-color: #3882f6;
  margin: 40px;
  padding: 25px 50px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

ul {
  display: flex;
  list-style: none;
}

.porta-imgs {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

img {
  border: #3882f6;
  border-style: solid;
  border-radius: 7px;
  width: 100px;
  max-width: 100px;
  max-height: 100px;
  flex: 1;
}

.limit {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center;
  justify-content: center; */
  flex: 1;
}

.btn-bot-section {
  padding: 15px;
  border-radius: 3px;
  background-color: #3882f6;
  /* border-style: solid; */
  /* border-color: #e5e7eb; */
}

.btn-bot {
  color: #fcfcfc;
  background-color: #3882f6;
  border-radius: 7px;
  border-color: #e5e7eb;
  border-width: 2px;
  border-style: solid;
}
